.DS_Store
code/lp_cal/client_secret.json
code/lp_cal/secrets.py
code/lp_cal/credentials.json
token.json
node_modules
venv
secrets.py
projekty/migration/secrets.py
projekty/migration/data/*
projekty/code_twogether/venv/*
__pycache__
templates/WB02DSN1B
templates/mombo/template
templates/mombo/template-doc
_site
.venv/*
.vscode/*