<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/vendor/reveal.js/dist/reveal.css">
  <link rel="stylesheet" href="/assets/vendor/reveal.js/dist/theme/white.css">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <textarea data-template>
{{ page.content | remove: '<p>' | remove: '</p>' | strip_html }}
        </textarea>
      </section>
    </div>
  </div>
  <script src="/assets/vendor/reveal.js/dist/reveal.js"></script>
  <script src="/assets/vendor/reveal.js/plugin/markdown/markdown.js"></script>
  <script>
    Reveal.initialize({
      plugins: [ RevealMarkdown ],
      controls: true,
      progress: true,
      slideNumber: true,
      hash: true
    });
  </script>
</body>
</html>
